//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	padding: toRem(8);
	min-height: toRem(64);
	justify-content:center;
	align-items: center;
	border-radius: toRem(60);
	background-color: $bgColorLight;
	color: #fff;
	font-size: toRem(24);
	font-weight: 700;
	line-height: 1.33;
	transition: all 0.3s;
	@media (any-hover: hover) {
		&:hover {
			background-color: $bgColorSemi;
		}
	}
	&--white {}
	&--min {}
	&--icon {
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: toRem(16);
			gap: toRem(16);
			&::after{
				content:'';
				background: url('@img/icons/phone.svg') center no-repeat;
				flex: 0 0 toRem(48);
				width: toRem(48);
				height: toRem(48);
				border-radius: 50%;
				background-color: #fff;
			}
		}
	}
	&--fw {
		width: 100%;
	}
}
