//====================================================================================================
.header {
	position: absolute;
	z-index: 30;
	width: 100%;
	top: 0;
	left: 0;

	&__wrapper {
		position: fixed;
		display: flex;
		align-items: center;

		z-index: 29;
		top: 0;
		left: 0;
		width: 100%;
		padding: toRem(5) 0;
		// min-height: var(--header-height);
		min-height: toRem(96);
		transition: transform 0.37s ease-in-out, min-height 0.4s ease-in-out,
			background-color 0.25s ease-in-out;

		._header-scroll & {
			transform: translateY(-100%);
			// min-height: calc(var(--header-height) - toRem(30));
			background-color: rgba(255, 255, 255, 0.2);
		}

		.header.header--light._header-scroll & {
			background-color: rgba(0, 0, 0, 0.9);
		}

		._header-scroll._header-show & {
			transform: none;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

}

.menu {
	padding: 0 toRem(10); // отступы безопасности

	// .menu__body

	&__body {
		@media (max-width:$tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 100%;
			background-color: $bgColorSemi;
			padding: toRem(120) toRem(15) toRem(25) toRem(15);
			overflow: auto;
			display: flex;
			row-gap: toRem(40);
			flex-direction: column;
			transition: left 0.5s;

			// Плашка сверху

			// &::before {
			// 	content: '';
			// 	position: fixed;
			// 	width: 100%;
			// 	height: toRem(55);
			// 	top: 0;
			// 	left: 100%;
			// 	z-index: 2;
			// 	background-color: $bgColor;

			// }

			.menu-open & {
				left: 0;

				// Плашка сверху
				// &::before {
				// 	left: 0;
				// }
			}
		}
	}

	// .menu__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(3);
		// @include adaptiveValue("column-gap", 57, 15, 0, $containerWidth, 768);
		@include adaptiveValue("column-gap", 57, 15);


		@media (max-width:$mobile) {
			flex: 1 1 auto;
			font-size: toRem(28);
			align-items: end;
			flex-direction: column;
			row-gap: toRem(28);
		}
	}

	// .menu__item

	&__item {}

	// .menu__link

	&__link {
		font-weight: 700;
		line-height: 1.33;
		color: #fff;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(30);
		height: toRem(18);
		z-index: 5;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: #fff;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {}

			&::before {
				top: calc(50% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}