//====================================================================================================
.hero {
	background-color: $bgColor;
	min-height: 100vh;
	padding: toRem(80) toRem(15) toRem(60) toRem(15);
	display: grid;
	
	@media (min-width:$tablet){
	grid-template-columns: auto 1fr auto;
	}

		// .hero__image-ibg

		&__image-ibg {
			@include adaptiveValue("width", 412, 200, 0, $containerWidth, 991.98);
		border-radius: toRem(24);
		overflow: hidden;
		max-width: 100%;
		img{
			object-position: top;
		}
		@media (max-width:$tablet){
			display: none;
		}
		}

		// .hero__body

		&__body {
			display: flex;
			flex-direction: column;
			row-gap: toRem(50);
			@include adaptiveValue("padding-left", 83, 15, 0, $containerWidth, 991.98);
			@include adaptiveValue("padding-right", 83, 15, 0, $containerWidth, 991.98);
		}

		// .hero__content

		&__content {
			flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		justify-content:center;
		align-items: center;
		}

		// .hero__items

		&__items {
			
		}

		// .hero__block-header

		&__block-header {
			max-width: toRem(670);
			&:not(:last-child) {
				margin-bottom: toRem(24);
			}
		}

		// .hero__done

		&__done {
			justify-content:center;
			align-items: center;
			

		}

		// .hero__button

		&__button {
		}

		// .hero__advantages

		&__advantages {
		}
		&__main{
			display: grid;
			gap: toRem(24);
			&:not(:last-child) {
				margin-bottom: toRem(48);
			}
		}
}
.items-hero {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
	column-gap: toRem(52);


		// .items-hero__item

		&__item {
			color: $colorGrey;
			font-weight: 700;
			line-height: 1.4;
			position: relative;
			&:not(:last-child) {
				&::after{
					content: "";
					position: absolute;
					right: toRem(-30);
					top: calc(50% - toRem(2));
					width: toRem(5);
					height: toRem(5);
					border-radius: 50%;
					background-color: $colorGrey;
				}
			}
}
}
.block-header {

		// .block-header__title

		&__title {
		}

		// .block-header__title--white

		&__title--white {
		}

		// .block-header__title--big

		&__title--big {
		}
}
.block-header--center {
}

.call-button {
}
.advantages-hero {
	display: grid;
	grid-template-columns: repeat(4, auto);
	@include adaptiveValue("column-gap", 64, 20);
	row-gap: toRem(15);
	@media (max-width: em(1920)){
		grid-template-columns: repeat(2,auto);
	}
	@media (max-width:$mobileSmall){
		grid-template-columns: auto;
	}
	
		// .advantages-hero__item

		&__item {
			display: flex;
			align-items: center;
			gap: toRem(16);
			position: relative;
			@media (min-width: em(1920)){
				&:not(:last-child) {
					&::after{
						content:'';
						position: absolute;
						@include adaptiveValue("right", -32, -20);
						right: 0;
						top: 0;
						height: 100%;
						width: toRem(1);
						background: linear-gradient(0deg, rgba(20,34,87,0) 0%, rgba(79,102,183,1) 50%, rgba(20,34,87,0) 100%);
					}
			}
			}
			
		}

		// .advantages-hero__icon

		&__icon {
			display: inline-flex;
			border-radius: 50%;
			justify-content:center;
			align-items: center;
			flex: 0 0 toRem(48);
			height: toRem(48);
			width: toRem(48);
			padding: toRem(5);
			background-color: $bgColorSemi;
			img{
				width: 100%;
			}
		}

		// .advantages-hero__text

		&__text {
			flex: 1 1 auto;
			color: #fff;
			font-weight: 600;
			line-height: 1.33;
		}
}


//====================================================================================================
